.div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
/* 
.div a {
    text-decoration: none;
} */

/* .div p{
    height: 44px;
    font-size: 15px;
    font-weigth: bold;
} */

.linkSinEstilo {
    color: inherit;          /* Hereda el color del contenedor */
    text-decoration: none;   /* Quita el subrayado */
  }