.div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.linkSinEstilo {
    color: inherit;          /* Hereda el color del contenedor */
    text-decoration: none;   /* Quita el subrayado */
  }